#--------------------------------------------------------------------
# Docker Ignore file
#--------------------------------------------------------------------
services/vendor/
services/composer.lock
