#--------------------------------------------------------------------
# Docker Ignore file
#--------------------------------------------------------------------
service/composer.lock
service/vendor/

