#--------------------------------------------------------------------
# Git Ignore file
#--------------------------------------------------------------------

# Logs
logs/*
*.log

# OS files & folders
.DS_Store

# IDE files & folders
.idea/
.vscode/
.run

# Vendor files & folders
vendor/
bower_components/
node_modules/
composer.lock
package-lock.json

# Codeigniter files & folders
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# Codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

# User files & folders
AMPT-CI_bak/