#--------------------------------------------------------------------
# Git Ignore file
#--------------------------------------------------------------------

# Logs
logs/*
*.log

# OS files & folders
.DS_Store

# IDE files & folders
.idea/
.vscode/
.run

# Composer files & folders
vendor/
composer.lock

# NPM files & folders
templates/node_modules/
templates/html5-boilerplate_v8.0.0/
templates/package-lock.json

# Codeigniter 4 files & folders
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
*/writable/debugbar/*
*/writable/session/*
*/writable/uploads/*

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# Codeigniter 3 file & folders
/vendor/
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

# Smarty files & folders
writable/smarty/cache/*
writable/smarty/configs/*
writable/smarty/template_c/*

